@import url("https: //fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");


* {
    margin: 0;
    padding: 0;
    border: none;

}

#body-style {
    background-color: #f7f4ea
}


body {
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #30343f;
}

h1,
h2,
h3 {
    font-family: playfair-display, serif;
    font-weight: 400;
}

#menu {
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
}

/* navigation links */

#nav-bar-container {
    height: 100px;
}

#logo {
    float: left;
    font-size: 120px;
    color: #30343f;
    position: absolute;
    text-decoration: none;
    margin-left: 10px;
    padding-left: 30px;

}

#menu {
    font-size: 18px;
    padding: 30px 0;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #30343f;

}

#menu a:hover {
    border-bottom: 1px solid #30343f;

}

.underline {
    border-bottom: 1px solid #30343f;
}


#logo,
#menu li {
    line-height: 80px;
    margin-top: 4%;
}

#nav-bar-container {
    height: 100%;
}

/* main heading image*/

#main-page-container {
    height: 100%;
    width: auto;
    display: inline-block;
    padding-top: 3%;
}

#right-float-h2 {
    /*
    float: right;
    font-family: playfair-display, serif;
    color: #30343f;
    text-align: left;
    font-size: 200%;
    line-height: 600px;
    padding-left: 40px;
    padding-right: 30px;
    */

    text-align: center;
    margin: 0;
    position: absolute;
    padding-top: 18%;
    padding-right: 5%;
    padding-left: 70%;
    font-size: 40px;
    line-height: 50px;
}


/* images */

.hero-image {
    /*
    height: 600px;
    width: 60%;
    position: relative;
    margin: 0 auto;
    */
    width: 65%;
    height: 50%;
}

/* About us section */

#about-us-container {
    height: max-content;
    width: auto;
}

.title-style {
    font-family: playfair-display, serif;
    font-weight: 400;
    color: #30343f;
    font-size: 100px;
    margin: 5px 0 5px 5px;
    padding: 30px;
}

#about-us-title-styling {
    padding-top: 4%;
}

#background-about-us-styling {
    border: 10%;
    padding: 5% 10% 10% 5%;
    margin: 0 10px 10px 10px 10px;
    text-align: left;
    width: 30%;
    height: 100%;
    line-height: 25px;
}

#sub-title-1 {
    line-height: 50px;
    color: #30343f
}

.image-one {
    float: right;
    height: 40%;
    width: 50%;
    position: relative;
    padding-left: 10%;
    padding-top: 11%;
}

/* reviews stlying*/

#review-container {
    width: 100%;
    height: 100%;
    text-align: center;



}

.review {
    font-family: playfair-display, serif;
    font-weight: 400;
    line-height: 50px;
    color: #30343f
}

#review-left {
    float: left;
    width: 28%;
    padding: 2%;
    margin: 1% 0;
    height: 80%;
    line-height: 25px;

}

#review-right {
    float: right;
    width: 28%;
    padding: 2%;
    margin: 1% 0;
    height: 80%;
    line-height: 25px;


}

#review-center {
    display: inline-block;
    margin: 0 auto;
    width: 28%;
    padding: 2%;
    margin: 1% 0;
    height: 80%;
    line-height: 25px;
}

.name-styling {
    line-height: 50px;

}

/* video section*/

#iframe-container {
    height: 600px;
    padding-top: 20px;
    margin-top: 20px;
}

/* footer-section*/

#footer-container {
    background-color: #30343f;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    /*
    position: sticky;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 200px;
    color: #f7f4ea
    */
}

footer h2 {
    color: #f7f4ea;
    font-size: 40px;
    text-align: center;
    font-family: playfair-display, serif;
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 30px;
}

.social-icon-style {
    text-align: center;
}

.social-icon-style>li {
    display: inline-block;
}

.social-icon-style i {
    font-size: 250%;
    color: #f7f4ea;
    padding: 60px;
    line-height: 20px;
}

/* class page section*/

#hero-image-class-section {
    padding-top: 3%;
    height: 100%;
    width: 100%;
}

#class-title {
    font-size: 100px;
    padding: 10px 30px;
    color: #30343f
}

.class-container {
    margin-right: 0;
    width: 90%;
    height: 200px;
    padding-left: 30px;
}

.class-heading {
    font-size: 40px;
    color: #30343f;
    line-height: 70px;
}

.class-container p {
    margin-right: 0;
    width: 100%;
    line-height: 25px;

}

/* table section*/

.table-container {
    width: 90%;
    height: 400px;
    padding: 2%;
}

table {
    position: relative;
    width: 90%;
    height: 300px;
    margin-left: 20px;
    padding: 30px;
}

table,
th,
td {

    border: 2px solid #30343f;
    border-top: none;
    border-collapse: collapse;
    text-align: center;
}

th,
td {
    height: 1%;
    width: 3%;
    padding: 2%;
}

/*Sign-up Page*/

#image-tiling-container {
    padding-top: 3%;
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    overflow: hidden;
}

/*
#image-tiling-container>img {
    width: 100px;
}
*/


.image-tiling-style {
    width: 100%;
    height: 100%;
}

.image-tiling-style-landscape {
    width: 100%;
    height: 100%;
}

/* form styling */

#stay-in-contact-container {
    width: 100%;
    height: 500px;
}

#stay-in-contact-header {
    font-size: 65px;
    color: #30343f;
    text-align: center;
}

#stay-in-contact-paragraph {
    text-align: center;
    color: #30343f;
    line-height: 25px;
    padding-top: 40px;
}

#form-styling {
    background-color: #d9bbf9;
    width: 55%;
    height: 70%;
    margin: 3% 20%;
    padding: 4%;
    line-height: 20px;
}

.text-input {
    border: solid 2px #30343f;
    background: transparent;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    margin: 5px;


}

#button-container {
    padding-top: 3%;
    padding-left: 45%;
    padding-right: 45%;
}

.label-styling {
    padding-left: 5px;
}

#button {
    font-size: 20px;
    color: #f7f4ea;
    background-color: #30343f;
    text-align: center;
    height: 70px;
    width: 120px;
}

#button:hover {
    background-color: #f7f4ea;
    color: #30343f;
}

/* media queries*/

@media screen and (min-width: 1800px) {

    #logo {
        font-size: 150px;
    }

    #menu {
        font-size: 25px;
        padding: 30px 30px;
    }

    #right-float-h2 {
        font-size: 65px;
        line-height: 70px;

    }

    #hero-image-class-section {
        height: 100%;
    }


    #class-description-styling {
        margin-left: 60px;
    }

    .table-container {
        padding-left: 10px;
    }

    #form-styling {
        width: 40%;
        height: 65%;
        margin: 3% 30%
    }

}