@import url("https: //fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Source+Sans+Pro:wght@300;400;600;700&display=swap");


* {
    margin: 0;
    padding: 0;
    border: none;

}

#body-style {
    background-color: #f7f4ea
}


body {
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-size: 18px;
}

h1,
h3 {
    font-family: playfair-display, serif;
    font-weight: 400;
}

h2 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
}

/* navigation links */

#logo {
    float: left;
    font-size: 100px;
    color: #30343f;
    position: relative;
    text-decoration: none;
    margin-left: 10px;

}

#menu {
    font-size: 18px;


}

#menu li {
    float: right;
    list-style-type: none;
    margin: 30px;
}

#menu a {
    font-family: source-sans-pro, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #30343f;
}

#menu a:hover {
    color: inherit;


}

#logo,
#menu {
    line-height: 80px;
    margin: 1%;
}

/* main heading image*/

#main-image-text {
    display: inline-block;
}

#text-overlay {
    float: right;
    font-family: playfair-display, serif;
    color: #30343f;
    text-align: right;
    font-size: 200%;
    line-height: 500px;
    margin: 3%;
}


/* images */

.hero-image {
    height: 100%;
    width: 60%;
    position: relative;
}